@import "../../variables";

.SideNavigation {
  &__title {
    text-align: center;
  }
  &__item {
    display: block;
    padding: 5px 5px 5px 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: $link-color;
    &_active {
      font-weight: bold;
    }
    &:hover {
      color: $link-color-hover;
    }
  }
}
